{% if app.isMobile() == true %}
    <div id="prevent_click" class="prevent-click" onclick="$.app.slide_menu()"></div>
{% endif %}
<div class="header-actions entry-options hide_from_client no-padding mobile" id="fna_top_menu">
    <div class="tbl-table tbl-collapse">
        <div class="tbl-row">
            <div class="tbl-data v-align-middle text-center">
                <div class="btn-ipad" onclick="$.app.slide_menu()">
                    <span class="ico icon-list"></span><br />Menu
                </div>
            </div>
            <div class="tbl-data v-align-middle text-center relative">
                <div class="btn-ipad" id="options_dd_menu" onclick="$.app.open_options_menu()">
                    <span class="ico icon-plus"></span><br />Options
                </div>
                <div class="ipad-options-menu" style="display: none;">
                    <div class="arrow arrow-up" id="layer1"></div>
                    <div class="arrow arrow-up" id="layer2"></div>
                    {% if not app.isInClientAccessMode() %}
                        {% include 'options_menu' %}
                    {% endif %}
                </div>
            </div>
            <div class="tbl-data text-right w100p v-align-middle">
                <div class="header-states-btn">
                                        {% if user.client_access_enabled == "1" %}
                                                <div class="fna-btn">

                                                        {# Colored button #}
                                                        <a id="fna_client_access_button" class="toggle_dialog no-underline btn btn-access"><b id="fna_client_access">
                                                                {% if (model.client_access == false or model.client_access.disabled == "1" or model.client_access.status == "DISABLED") %}
                                                                    {{ app._('CLIENT_ACCESS_DEACTIVATED') }}
                                                                {% elseif (model.client_access.status == 'PENDING') %}
                                                                    {{ app._('CLIENT_ACCESS_PENDING') }}
                                                                {% elseif (model.client_access.status == 'EXPIRED') %}
                                                                    {{ app._('CLIENT_ACCESS_EXPIRED') }}
                                                                {% else %}
                                                                    {{ app._('CLIENT_ACCESS_ACTIVATED') }}
                                                                {% endif %}</b>
                                                            <span class="btn-arrow">&#9660;</span>
                                                        </a>

                                                        {# Expanding dialog #}
                                                        <div class="dialog dlg3" id="change_fna_client_access_dialog">
                                                                <div class="dlg-box arrow-box">
                                                                        <div class="gutter">
                                                                                {% if (model.client_access == false or model.client_access.disabled == "1" or model.client_access.status == "DISABLED") %}
                                                                                        <div id="client_access_activate">
                                                                                            <a class="modify_client_access btn no-underline write_only" href="javascript:void(0);">{{ app._('ACTIVATE_CLIENT_ACCESS') }}</a>
                                                                                        </div>
                                                                                {% else %}
                                                                                    <div id="client_access_modify_test">
                                                                                        <div class="nowrap w100p">
                                                                                            <a class="modify_client_access btn no-underline" href="javascript:void(0);">{{ app._('MODIFY') }}</a>
                                                                                            <a class="open_client_access btn no-underline" href="javascript:void(0);">{{ app._('TEST_CLIENT_ACCESS') }}</a>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        {% endif %}

                    {% if app.allowSpousalFNA %}
                        {# Dropdown type buttons #}
                        <div class="fna-btn">

                            {# Colored button #}
                            <a id="fna_type_change" class="toggle_dialog hide_from_client no-underline btn btn-type"><b id="fna_type">{{ app._(['NEW_FNA_TYPE_', model.type]|join('')) }}</b>
                                <span class="btn-arrow">&#9660;</span></a>

                            {# Expanding dialog #}
                            <div class="dialog dlg2" id="change_fna_type_dialog">
                                <div class="dlg-box arrow-box">
                                    <div class="gutter">

                                        {# Change to simple #}
                                        <p id="type_change_simple" class="text-small text-left">
                                            {{  app._('CONFIRM_TYPE_SIMPLE_WARNING') }}
                                        </p>

                                        {# Change to spousal #}
                                        <div id="type_change_spousal">
                                            <p class="text-small margin-bottom-5">{{ app._('CONFIRM_TYPE_SPOUSAL_WARNING') }}</p>
                                            <p class="text-small">{{ app._('SPOUSE') }}: <input type="text" class="small" id="type_change_spouse" size="30"/></p>
                                            <p id="found_in_kronos_crm" class="text-small margin-top-5" style="display:none">
                                                <span class="icon-kronos margin-right-5"></span>{{ app._('CONTACT_FOUND_IN_KRONOS') }} {{ app.store.getApplicationName() }}
                                            </p>
                                        </div>

                                        {# Change to external spousal #}
                                        <div id="type_change_spousal_external" class="text-left" style="display:none;">
                                            <p class="text-small">{{ confirm_type_spousal_warning_external }}</p>
                                            <p class="text-small">{{ app._('SPOUSE') }}:</p>
                                            <a class="kronos_icon">
                                                <span class="icon-kronos"></span>
                                            </a>
                                            &nbsp;
                                            <strong id="spouse_external_name">{{ model.spouse_external_name }}</strong>
                                        </div>
                                        <div class="save_dialog">
                                            <div class="tbl-table">
                                                <div class="tbl-row">
                                                    <div class="tbl-data w100p text-right">
                                                        <a id="cancel_type_change" href="javascript:void(0);" class="btn btn-cancel no-underline">{{ app._('CANCEL') }}</a>
                                                    </div>
                                                    <div class="tbl-data">
                                                        <input id="confirm_type_change" type="submit" class="btn btn-save" value="{{ app._('CONFIRM_TYPE_CHANGE') }}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {# Dropdown status buttons #}
                    <div class="fna-btn">

                        {# Colored button #}
                        <a id="fna_status_change" class="toggle_dialog hide_from_client no-underline btn btn-state"><b id="fna_status">{{ app._(['FNA_STATUS_',model.status]|join('')) }}</b>
                            <span class="btn-arrow">&#9660;</span></a>

                        {# Expanding dialog #}
                        <div class="dialog dlg1" id="change_fna_status_dialog">
                            <div class="dlg-box arrow-box">
                                <div class="gutter">

                                    <p class="text-small">
                                        {{ app._('NEW_STATUS') }}
                                        <select id="fna_new_status">
                                            <option value="COMPLETED">{{ app._('COMPLETED') }}</option>
                                            <option value="PARTIAL">{{ app._('PARTIAL') }}</option>
                                            <option value="EXPIRED">{{ app._('EXPIRED') }}</option>
                                        </select>
                                    </p>

                                    <div id="completion_warning">
                                        <p class="text-small padding-top-5">{{ app._('CONFIRM_TYPE_CHANGE_WARNING') }}</p>
                                    </div>

                                <div id="conformity_section">
                                    <hr class="spacer dotted"/>

                                        <p class="text-small nowrap">{{ app._('WILL_EXPIRE_ON') }}
                                            <input twig-key="datepicker" type="text" id="fna_expiration_date" name="fna_expiration_date" placeholder="{{ app._g('DATE_PLACEHOLDER') }}" class="write_only_input" value="">
                                        </p>

                                    <div class="relative text-small margin-top-5">
                                        <input type="checkbox" id="fna_confirm_completed" name="fna_confirm_completed" class="checkbox-custom" value="YES" />
                                        <label for="fna_confirm_completed" id="fna_confirm_label" value="YES" class="infos checkbox-custom-label">{{ app._('CONFIRM_COMPLETED') }}</label>
                                        <span id="fna_confirm_completed_hint" class="margin-left-20 v-align-top"></span>
                                    </div>
                                    </div>

                                    <div class="save_dialog">
                                        <hr class="spacer" />
                                        <div class="tbl-table margin-top-10">
                                            <div class="tbl-row">
                                                <div class="tbl-data w100p text-right">
                                                    <a id="cancel_confirmation" href="javascript:void(0);" class="btn btn-cancel no-underline">{{ app._('CANCEL') }}</a>
                                                </div>
                                                <div class="tbl-data">
                                                    <input id="confirm_completed" type="submit" value="{{ app._('SAVE') }}" class="btn btn-save" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="header-actions-all">
                            {#<li>#}
                                {#<a id="goto_meeting">
                                    <span class="ico icon-modern-mic"></span>Basculer en entrevue
                                </a>#}
                            {#</li>#}
                            <li>
                                <a id="goto_history" href="#FNA/History/{{ model.record_id ? model.record_id : model.id }}" onclick="dataLayer.push({'event':'action','action_type':'show_revisions'});">
                                    <span class="ico icon-history"></span>{{ app._('GO_TO_REVISIONS') }}
                                </a>
                            </li>
                            <li class="hide_from_client" onclick="dataLayer.push({'event':'action','action_type':'print_paper'});">
                                <a id="print_paper">
                                    <span class="ico icon-printer"></span>{{ app._('PRINT_PAPER') }}
                                </a>
                            </li>
                            <li class="hide_from_client" onclick="dataLayer.push({'event':'action','action_type':'print_report'});">
                                <a id="print_report">
                                    <span class="ico icon-printer"></span>{{ app._('PRINT_REPORT') }}
                                </a>
                            </li>
                            <li class="hide_from_client external_update_action" style="display:none">
                                <a id="force_external_update">
                                    <span class="ico icon-edit"></span>{{ app._('UPDATE_FROM_EXTERNAL_APPLICATION') }} {{ app.store.getApplicationName() }}
                                </a>
                            </li>
                            <li>
                                <a id="delete" class="delete write_only">
                                    <span class="ico icon-bin"></span>{{ app._('DELETE') }}
                                </a>
                            </li>
                        </ul>